# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# PyInstaller build files
build/
dist/
*.spec

# IDE / editor files
.idea/
.vscode/
*.iml

# OS junk
.DS_Store
Thumbs.db
